@charset "UTF-8";
@font-face {
  font-family: thirdfont;
  src: url(Ubuntu-Regular.ttf)
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  margin: 0;
  padding: 0;
  font-family: thirdfont;
  color: #333;
}

nav{
  background-color: #0000001c;
  padding-bottom: 25px;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.575), #f5f5f533),
  url('cardsinhand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h4 {
  display: flex;
  flex-direction: row;
  color: #33576d;
}

h4:before,
h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #bebebe;
  margin: auto;
}

.headline:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.2);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
}
.inner h1 {
  margin: 0;
  font-size: 3em;
  line-height: 1.2em;
}

.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
}

nav {
  position: fixed;
  width: 100%;
  /* margin-top: 50px; */
  z-index: 10;
}
nav ul {
  list-style: none;;
}
nav li {
  float: left;
}
nav a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}

li{
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}

ul{
  padding-left: 7px;
  padding-bottom: 5px;
  padding-right: 7px;
}

.container {
  display: flex;
  overflow:auto;
  /* height: 300px; */
}

.container::-webkit-scrollbar {
  display: none;
}

.alllist{
  padding:18px;
  margin: 10px;
  height: fit-content;
  background: #f7f7f7;
}

.container1 {
  display: flex;
  overflow:auto;
}

.container1::-webkit-scrollbar {
  display: none;
}

.userlist{
  padding:18px;
  margin: 10px;
  height: fit-content;
  background: #f7f7f7;
}

.lists{
  padding-bottom: 45px;
}

.column1 {
  width: 20%;
  float: left;
  background-image: linear-gradient(to top, #33576d, #abb9c41c);

}

.column2 {
  width: 20%;
  background-image: linear-gradient(to top, #33576d, #abb9c41c);
  float: left;
}

.column3 {
  width: 20%;
  background-image: linear-gradient(to top, #33576d, #abb9c41c);
  float: left;
}

.column4 {
  width: 20%;
  background-image: linear-gradient(to top, #33576d, #abb9c41c);
  float: left;
}

.column5 {
  width: 20%;
  background-image: linear-gradient(to top, #33576d, #abb9c41c);
  float: left;
}

button:hover {
  background-color: transparent;
  cursor: pointer;
}

.button1{
  padding-top: 15px;
  text-align: center;
}

.button2{
  background-color: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 23%;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
}

.button2:hover{
  background-color: #ffc374;
}

.OutsideForm{
  padding: 30px;
}

#SignInForm{
  padding: 5%;
  text-align: center;
  border: 4px dotted #F0BEA6;
}

#NewUserForm{
  padding: 5%;
  text-align: center;
  border: 4px dotted #95b5948c;
}

#cost{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  /* border: 3px solid #33576d; */
}

#Profileinfo{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  margin-top: 30px;
  border: 3px solid #33576d;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.whitespace{
  height: 50px;
}

.newuser{
  padding: 5px;
  margin: 5px;
}

#signupButton{
  background-color: #95b5948c;
  font-size: 10px;
  color: #ffffff;
  border: none;
  padding: 4px;
}

.addcardbutton{
  height: fit-content;
  width: fit-content;
  background-color: #ffffff;
  border: 2px solid #88BACD;
  box-sizing: border-box;
  color: #33576d;
  font-size: 10px;
  border-radius: 8px;
}

.removecardbutton{
  height: fit-content;
  width: fit-content;
  background-color: #ffffff;
  border: 2px solid #88BACD;
  box-sizing: border-box;
  color: #33576d;
  font-size: 10px;
  border-radius: 8px;
}

/* .grid-container1{
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  height: 100vh;
} */

.row{
  display:flex;
  padding:0 4px;
}

.column{
  flex: 50%;
  max-width: 50%;
  padding: 0 4px
}

.column img {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  vertical-align: middle;
  width: 100%;
}

h1{
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  max-width: 500px;
  font-size: 20px;
}

h2{
  font-size: 20px;
  max-width: 300px;
  min-width: 100px;
}
.pointsh2{
  text-align: right;
}